extends layout

block content

  section#section
    .section
      .gallery
        .container
          .row
            .col-xs-12
              .heading
                span #{lang.gallery.our}
                h2 #{lang.layout.gallery}